// app global css in SCSS form

h1,h2,h3{
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.00735em;
}

.fsz12{
    font-size: 12px;
}
.fsz14{
    font-size: 14px;
}
pre{ 
    white-space:pre-wrap; /* css3.0 */ 
    white-space:-moz-pre-wrap; /* Firefox */ 
    white-space:-pre-wrap; /* Opera 4-6 */ 
    white-space:-o-pre-wrap; /* Opera 7 */ 
    word-wrap:break-word; /* Internet Explorer 5.5+ */ 
    } 


    .q-pdfviewer-container {
        max-width: calc(100vw - 200px );
        max-height: 100vh;
        min-width: 70vw;
        min-height: 600px;
        width: 100%;
        height:  calc(100vh - 150px );
      }

      .q-markdown{
        overflow: scroll;  
      }


      /* 定义滚动条样式 */
      .q-markdown::-webkit-scrollbar {
        display: none;
        visibility: hidden;
    width: 6px;
    height: 6px;
    background-color: rgba(240, 240, 240, 1);
  }
    
  /*定义滚动条轨道 内阴影+圆角*/
  .q-markdown::-webkit-scrollbar-track {
    display: none;
    visibility: hidden;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
    border-radius: 10px;
    background-color: rgba(240, 240, 240, .5);
  }
    
  /*定义滑块 内阴影+圆角*/
  .q-markdown::-webkit-scrollbar-thumb {
      display: none;
      visibility: hidden;
    border-radius: 10px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
    background-color: rgba(240, 240, 240, .5);
  }