// &::-webkit-scrollbar {
//     // 滚动条的背景
//     width: 16px;
//     background: #191a37;
//     height: 14px;
//   }

//   &::-webkit-scrollbar-track,
//   &::-webkit-scrollbar-thumb {
//     border-radius: 999px;
//     width: 20px;
//     border: 5px solid transparent;
//   }

//   &::-webkit-scrollbar-track {
//     box-shadow: 1px 1px 5px #191a37 inset;
//   }

//   &::-webkit-scrollbar-thumb {
//     //滚动条的滑块样式修改
//     width: 20px;
//     min-height: 20px;
//     background-clip: content-box;
//     box-shadow: 0 0 0 5px #464f70 inset;
//   }

//   &::-webkit-scrollbar-corner {
//     background: #191a37;
//   }



  /*修改滚动条样式*/
html::-webkit-scrollbar{
    display: none;
    visibility: hidden;
    width:10px;
    height:10px;
    /**/
  }
  html::-webkit-scrollbar-track{
    display: none;
    visibility: hidden;
    background: rgb(239, 239, 239);
    border-radius:2px;
  }
  html::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius:5px;
  }
  html::-webkit-scrollbar-thumb:hover{

    background: #333;
  }
  html::-webkit-scrollbar-corner{
    display: none;
    visibility: hidden;
    background: #179a16;
  }






//   参数说明
//   ::-webkit-scrollbar 滚动条整体部分
//   ::-webkit-scrollbar-thumb  滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
//   ::-webkit-scrollbar-track  滚动条的轨道（里面装有Thumb）
//   ::-webkit-scrollbar-button 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
//   ::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分（除去）
//   ::-webkit-scrollbar-corner 边角，即两个滚动条的交汇处


// ::-webkit-scrollbar{
//     display: none;
//     visibility: hidden;
//     width:10px;
//     height:10px;
//     /**/
//   }
//   ::-webkit-scrollbar-track{
//     display: none;
//     visibility: hidden;
//     background: rgb(239, 239, 239);
//     border-radius:2px;
//   }
//   ::-webkit-scrollbar-thumb{
//     display: none;
//     visibility: hidden;
//     background: #bfbfbf;
//     border-radius:10px;
//   }
//   ::-webkit-scrollbar-thumb:hover{
//     display: none;
//     visibility: hidden;
//     background: #333;
//   }
//   ::-webkit-scrollbar-corner{
//     display: none;
//     visibility: hidden;
//     background: #179a16;
//   }