<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="grey">
    <!-- 使用本地电脑的绝对路径  -->
    <!-- <img src=""/> -->

    <!-- 图片所在的文件夹与网页在同一个文件夹内 -->
    <img src="pic/01.png"/>

    <P>&nbsp;&nbsp; &nbsp; &nbsp;left margin 左边界左边距左空白双击左侧边距</P>
    <P> &copy;边缘；利润，余裕；页边的空白</P>
    <p>&reg;边框（border）：盒子本身。边界（margin）：多个盒子摆放的时候中间要留有空隙。盒子具有弹性，如果里面装的东西过大，盒子会被撑开</p>
   
    <!--特殊符号 <p></p>这个标记是段落标记 -->
    &lt;p&gt;&lt;/p&gt;这个标记是段落标记
    

    <!-- <ul type="circle"> -->
        <!-- ul：是无序列表 -->
    <ul>
         <!-- <li>相信是万能的开始</li> -->
         <li>我爱我的家乡</li>
         <li>这世界上没有什么能代替一如既往的坚持</li>
         <li>Nothing in this world can take the place of good old persistence. </li>
         <li type="square">靠自己，比依赖被人重要，静心做事比用尽心机重要</li>
    </ul >
    <!-- ol：是有序列表 -->
    <ol>
    <li>我是我，我是一切的根源</li>
    <li>原因在我，行动在我，成败在我</li>
    <li>我既是原因</li>
    <li>也是结果 </li>
    </ol>
    <!--dl：是定义列表自定义列表-->
    <dl>
      <dt>电脑整机</dt>  
         <dd>笔记本</dd>
         <dd>平板电脑</dd>
         <dd>上网本</dd>
    <dt>电脑配件</dt>
        <dd>内存</dd>
        <dd>cpu</dd>
        <dd>硬盘</dd>
    </dl>
    <img src="http://a.cphotos.bdimg.com/timg?image&quality=100&size=b4000_4000&sec=1590760916&di=f854d00c21b5cbe8fcb3a8867ad4cee4&src=http://a2.att.hudong.com/36/48/19300001357258133412489354717.jpg"style="width:200px"; border="10"/>
    <img src="http://a1.att.hudong.com/72/56/01300542494409139896563856755.jpg" style="width:180px"; border="5";align="middle"; hspace="40px"/>网页设计
   <img src="http://ww2.sinaimg.cn/large/85cc5ccbgy1ffo36ak0xbg20m80ciq8d.jpg" style="width:220px" height="190px" border="3"/>
    
   <font size="7" color="Rose Red"> <h1>天国的嫁衣</h1></font>
    <hr width="80%"
    <p>心想事成，往事如意</p>
</body>
</html>